/********************************
Indivo UI CSS
********************************/

/*** YUI 3 Resets ***/

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* base */
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}blockquote,{margin:1em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
/* see also:
  http://www.alistapart.com/articles/howtosizetextincss/
  http://www.markboulton.co.uk/journal/comments/incremental-leading

  After experimenting I think the happy medium is: 15px body, 24px line-height (1.6);
  insead of the default 13px/1.231
*/
body{font:15px/1.6 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


/*** Layout ***/
html, body { min-height: 100%; margin: 0; }
body {
	font-size: 15px;
	line-height: 1.6;
	background: rgb(254,252,247);
	background:-webkit-gradient(linear, left top, left 15%, from(rgb(250,244,230)), to(rgb(254,252,247)));		/* WebKit legacy */
	background:-webkit-linear-gradient(top, rgb(250,244,230), rgb(254,252,247) 15%, rgb(254,252,247) 85%, rgb(250,244,230));
	background:-moz-linear-gradient(top, rgb(250,244,230), rgb(254,252,247) 15%, rgb(254,252,247) 85%, rgb(250,244,230));
	color: #464337;
	font-family: "Helvetica Neue", Corbel, Helvetica, Tahoma, Verdana, sans-serif;
	text-rendering: optimizelegibility;
	/* min-width: 1000px */
}

#full_height {
	position: absolute; top: 0; width: 100%; min-height: 100%;
}

#container {
	position: absolute; top: 100px; left: 15px; right: 15px; bottom: 0;
	min-width: 1008px !important; /* 1024 - 16 (browser chrome) */
	min-height: 632px;
	padding: 5px 0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

#app_container {
	position: absolute; top: 39px; left: 17%; right: 15px; bottom: 130px;
	padding: 15px 30px 30px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	background: #fafafa;
	-moz-box-shadow: 0px 1px 3px #aaa; -webkit-box-shadow: 0px 1px 3px #aaa; box-shadow: 0px 1px 3px #aaa;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2); box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	-webkit-transition: left 0.2s; -moz-transition: left 0.2s; -o-transition: left 0.2s; transition: left 0.2s;
}

.in_app_container {
	width: 100%; height: 98%;
}
#app_content {
	overflow-x: hidden; overflow-y: auto;
}


/*** General Styles ***/
select,input,button,textarea {
  font-family: "Helvetica Neue", Corbel, Helvetica, Tahoma, Verdana, sans-serif;
}
input.error {
	border-color: rgb(220,0,0); background-color: rgb(255,219,207);
}

pre,code,kbd,samp,tt {
  font-family:"Andale Mono", Consolas, monospace
}

/* this allows for bold italic text in <strong><em> */
strong { font-style: inherit; }
em { font-weight: inherit; }

/* heading hierarchy */
h1 {font-size: 36px; margin-top: 8px; font-weight: normal; letter-spacing: -0.3px;}
h2 {font-size: 28px; margin: 15px 0 5px 0; font-weight: normal; }
h3 {font-size: 20px; margin-top: 4px; font-weight: bold; }
h4 {font-size: 16px; margin-top: 8px; font-weight: bold; }
h5 {font-size: 14px; margin-top: 10px; font-weight: bold; }

th, td { border: 1px solid #eee;}

table.light {
  width: 100%;
  margin: 0 auto;
}

table.light thead th { 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
}
table.light tfoot td {
  border: none;
  text-align: right;
  font-weight: normal;
  color: #999;
  font-style: italic;
  font-size: .85em;
}
table.light tbody td:first-child { border-left:none; }
table.light tbody td:last-child { border-right:none; }
tr.odd { background: #fff; }
tr.unread { font-weight: bold; }

/* Messages */

.messages {
	table-layout: fixed;
}

.messages .from {
	width: 300px;	
}

.messages .about {
	width: 130px;	
}

.messages .date {
	width: 110px;	
}

.messages .attachment, th.archive {
	width: 32px;	
}

.message {
	cursor: pointer;
}

.message td {
	line-height: 1.3;
	overflow: hidden;
	word-wrap: break-word;
}

.message .marker {
	background-color: #CCC;
	display: inline-block;
	height: 1em;
	margin-right: 4px;
	visibility: hidden;
	width: 3px;
}

.message:hover .marker {
	visibility: visible;
}

.ui_message .paperclip {
	float: right;
	height: 24px;
	width: 24px;
}

.icon.archive {
	float: right;
	height: 24px;
	width: 24px;
}

table.one_message { margin-top: -64px; width: 100%; }
table.one_message tbody td { border: none; padding: 0.125em .25em;}
table.one_message tbody td:first-child { width: 5%; text-align: right; color: #aaa;}
table.one_message tbody td:last-child { width: 95%; }
.one_message .attachment_accept { 
	cursor: pointer;
}

#one_message_body {
  border-top: 1px dotted #ccc;
  font-family:"Andale Mono", Consolas, monospace;
  padding-top: 10px;
  word-wrap: break-word;
}

#one_message_body ul, 
#one_message_body ol {
	margin-left: 15px;
}

#one_message_body li {
	list-style: inside;
}

#one_message_body a {
	color: #00E
}

#one_message_body a:hover {
	border: none;
	text-decoration: underline;
}

a { 
  text-decoration: none;
  color: #464337;
}

a:hover {
  border-bottom: 1px dotted #464337;
}

blockquote.content { margin: 1em 0; }

.small { font-size: .85em; }
.details { font-weight: normal; font-style: italic; color: #777; font-family: Corbel, "Lucida Sans", "Gill Sans", "Helvetica Neue", Helvetica, Tahoma, Verdana, sans-serif; ;}

.branding-image {
	height: 80px;
	display: inline;
}

#front_site_name {
	font-size: 3em; text-align: center;
	font-family: "Gill Sans", "HelveticaNeue-Light", "Helvetica Neue Light", Corbel, Helvetica, Arial, sans-serif; font-weight: 300;
	letter-spacing: -0.7px;
	white-space: nowrap;
}

#front_site_trademark {
  font-size: .4em;
  color: #aaa;
  vertical-align: text-top;
}

#error {
    max-width: 500px;
    margin: 10% auto 0;
    padding: 2em;
    border: 2px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 0.7em; -moz-border-radius: 0.7em; border-radius: 0.7em;
    background-color: rgb(228,226,221); background-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
#error .error_status {
    font-size: 4em; text-align:right; margin-top:-0.5em; color:rgba(0,0,0,0.2)
}
#error .details {
    font-size: 1.8em;
}

/*** Header ***/
#header { 
	height: 80px; /* 16px * 5 */
}

#header_controls {
	position: absolute; top: 0; right: 0; height: 28px;
	margin-right: 30px;
	padding: 8px 12px 0 12px;
	text-transform: uppercase;
	font-size: 0.86em;
	border: 1px solid rgb(204,204,204); border-top-width: 0;
	-moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
	background-color: rgb(250,248,242); background-color: rgba(255,255,255,0.5);
}
#header_controls a {
	margin-left: 12px;
}
#header_controls a:first-child {
	margin-left: 0;
}

#header_logo_and_name {
	margin: 15px 250px 0 15px;
}
#header_logo_div {
  float: left;
  width: 48px;
  text-align: center;
}
#header_logo {
  margin-right: 8px;
  height: 64px;
  /* hack for gpp logo which needs re-aspecting */
  /* width: 96px; */
  width: 20px;
}
#header_site_name {
  /* center on midline of logo: margin-top + margin-bottom + height must == header_logo height */
  height: 56px;
  margin-right: 5px;
  font-family: "Gill Sans", "HelveticaNeue-Light", "Helvetica Neue Light", Corbel, Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.7px;
  font-size: 36px;
}

/*** FIXME: make sure this works cross-browser */
#header_fullname {
  /* match baseline of #header_site_name */
  font-size: 20px
  float: left;
  margin-top: 27px;
  margin-bottom: 0px;
  height: 36px;
}
#header_trademark {
  vertical-align: super;
  color: #999;
  font-size: .40em;
  cursor: default;
  margin-right: -5px;
}

.header_icons {
	width: 16px; height: 16px;
	margin: 0 4px -3px 4px;
	vertical-align: text-top;
}

#footer {
	position: absolute; left: 0; right: 0; bottom: 0;
	margin: 0 0 32px;
	font-size: 0.85em;
	text-align: center;
}

#footer a { color: #666; }
#footer a img {
	width: 32px; height: 32px;
	margin-bottom: -12px;
	margin-right: 2px;
}
#footer b { color: #ccc; padding: 0 2em; }
#copyright { color: #999; font-size: 0.8em; }


/*** Tabs ***/
#tabs {
	position: absolute; left: 17%; top: 0; right: 15px; height: 32px;
	padding: 8px 10px 0;
	overflow: hidden; z-index: 1;
	-webkit-transition: left 0.2s; -moz-transition: left 0.2s; -o-transition: left 0.2s; transition: left 0.2s;
}

.main_tab, .record_tab {
	float: left; display: block; position: relative;
	height: 22px; margin: 4px 0 0 8px; padding: 1px 12px 3px;
	text-align: center;
	border: 1px solid rgb(193,193,193); border-bottom-color: rgb(204,204,204);
	-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
	background-color: rgba(255,255,255,0.75);
	/* background-color will be overridden for record_tab in JS, but we still want to fake the lower shadow for inactive tabs, here we go: */
    background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,0.04), rgba(0,0,0,0) 3px);
    background-image:-moz-linear-gradient(bottom, rgba(0,0,0,0.04), rgba(0,0,0,0) 3px);
	-webkit-transition-property: none;	/* the animation in Safari and Chrome does not go as smoothly as in Firefox, let's disable it for now */
	-moz-transition-property: margin-top, padding;
	-o-transition-property: margin-top, padding;
	transition-property: margin-top, padding;
	-webkit-transition-duration: 0.1s; -o-transition-duration: 0.1s; -moz-transition-duration: 0.1s; transition-duration: 0.1s;
}
.main_tab:hover, .record_tab:hover {
	margin-top: 0; padding-bottom: 7px;
	border-bottom: 1px solid rgb(204,204,204); color: #212121;
}
.main_tab:first-child {
	margin-left: 0;
}
.record_tab {
	float: right;
}

.main_tab img {
	width: 16px; height: 16px;
	margin: 0 0.25em 0 -4px;
	vertical-align: -10%;
}

#message_unread_count {
	position: absolute; top: -7px; right: -7px;
	min-width: 10px; height: 20px;
	padding: 0 5px;
	color: white; font-size: 15px; font-weight: bold; line-height: 20px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	background-color: rgb(200,0,0);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4); box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

#tabs .selected {
	margin-top: 0; padding: 5px 12px 3px;
	font-weight: bold;
	border-bottom-color: transparent;
	background: rgb(250,250,250);
	-moz-box-shadow: 0 1px 3px #ccc; -webkit-box-shadow: 0 1px 3px #ccc; box-shadow: 0 1px 3px #ccc;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

#add_record_tab img {
	vertical-align: -6%;
}
#add_record_tab.selected {
	background-color: rgb(250,250,250);
}



/*** App Container and - Selector ***/
#app_selector {
	position: absolute; top: 85px; left: -1px; width: 17%;
	padding: 7px 0;
	border: 1px dashed #ccc; border-right: none;
	-moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;
	-moz-box-shadow: 0 0px 0 #fff; -webkit-box-shadow: 0 0px 0 #fff; box-shadow: 0 0px 0 #fff;
	z-index: 1;
}
#app_selector ul {
	margin-left: 10px; margin-right: -1px; overflow: hidden;
}
#app_selector li {
	position: relative;
	height: 32px; line-height: 32px;
	margin: 5px 0; padding: 4px 4px 4px 10px;
	list-style: none; cursor: pointer;
	border: 1px solid transparent;
	-moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;
}
#app_selector li:hover {
	border-color: rgb(230,230,230) rgb(204,204,204) rgb(230,230,230) rgb(230,230,230);
	background-color: white;
}
#app_selector li.selected {
	border-color: #ccc transparent #ccc #ccc;
	-moz-box-shadow: 0px 1px 3px #aaa; -webkit-box-shadow: 0px 1px 3px #aaa; box-shadow: 0px 1px 3px #aaa;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2); box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

#app_selector_cover {
	position: absolute; top: 0; left: 0; right: 5px; bottom: 0;
	background-color: rgb(254,252,247); background-color: rgba(254,252,247,0.8);
}

.app_tab_img { width: 24px; margin: 0 12px 0 2px; vertical-align: middle; }

#active_app_tabs {
	margin-bottom: 1em;
}
#background_app_tabs {
	margin-bottom: 1em;
}
#record_owned_options {
}

.app_content_iframe {
        width: 100%; 
	min-height: 600px; 
	min-width: 768px; /* not including padding, borders or margin. 768 + (15 * 2 (padding)) + (1 * 2) (border) = 800px total width*/
}

/*** record tabs ***/
#loading_records_hint {
	float: right; margin-right: 1em; line-height: 35px; color: rgb(190,188,185); color: rgba(0,0,0,0.25);
}
#loading_records_hint {
	margin-right: 1em; line-height: 35px; color: rgb(190,188,185); color: rgba(0,0,0,0.25);
}
#add_record_tab img {
	vertical-align: -6%;
}
#add_record_tab.selected {
	background-color: rgb(250,250,250);
}

#no_record_hint {
	position: relative; padding: 3em;
	text-align: center; font-size: 1.5em;
	background: url(/jmvc/ui/resources/images/add_record_hint.png) top right no-repeat;
}
#no_record_hint h2 { color: rgba(0,0,0,0.5); }

.overlay {
  display:none;
  z-index:10000;
  background-color:#f0f0f0;
  width:675px;
  min-height:200px;
  padding: 35px;
  -moz-box-shadow:0 0 30px #555;
  -webkit-box-shadow: 0 0 30px #555;
}

.overlay .close {
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
  background-image:url(/jmvc/ui/resources/images/jquery_tools/close.png);
}

.wrap {
  padding: 0px 10px 10px 10px;
}


/*** Managing records ***/
.table_form {
	display: table; width: 100%; margin-top: 2em;
	font-size: 1.2em; line-height: 1.7;
}
.table_form input[type="text"] { width: 98%; }
.table_form button[type="submit"] { min-width: 34%; font-size: 18px; margin-bottom: 10px; }

.table_row { display: table-row; }
a.table_row { display: block; font-size: 1.2em; }

.table_cell { display: table-cell; padding: 0.25em; }
.table_cell:first-child { width: 39%; padding-left: 0; padding-right: 0.8em; text-align: right; color: #666; }
.table_cell:last-child { padding-right: 0; }
.main_action_button { margin-top: 1.5em; }
.main_action_button .loader { margin-left: 1em; vertical-align: -5%; }
.moreinfo {
	margin-top: 0.5em; font-size: 13px; font-weight: normal; color: #666;
}
.moreinfo b {
	color: #CCCCCC; padding: 0 1em;
}

#new_record_form { max-width: 600px; }
#new_record_form .cell:first-child { width: 30%; }


/*** Demographics ***/
.in_app_container hr {
	border: none; border-top: 1px solid #C8C8C8; border-color: rgba(0,0,0,0.2);
}
.in_app_container hr.dotted {
	margin: 0; padding: 0;
	border-top-style: dotted;
}

.demographics_name { font-size: 1.15em; }
.demographics_item_row {
	overflow: auto; width: 100%;		/* needed to encapsulate all floating items */
}
.demographics_item_block {
	min-width: 350px; float: left; margin-left: 2em; padding: 1em 0 1em 2em;
	border-left: 1px dotted #C8C8C8; border-color: rgba(0,0,0,0.2);
}
.demographics_item_block:first-child {
	border: none; margin-left: 0; padding-left: 0;
}
.preferred_phone { font-weight: bold; }

#demographics_form input { width: auto; }
#demographics_form .demo_table { margin: 1em 0; }
.demo_table th, .demo_table td { border: none; }
.demo_table .birthday_cell div { display: inline-block; text-align: center; }
.demo_table .birthday_cell input { text-align: right; }
.demo_table .small_faded { font-size: 0.85em; color: #666; }

/***
 * Sharing Settings
 */

/*** accounts ***/
#known_accounts {
	position: relative;
}
.account {
	float: left; position: relative; z-index: 2; cursor: move; overflow: hidden;
	width: 180px; min-height: 40px; margin: 10px 24px 0 0; padding: 6px 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	border: 1px solid rgb(201,201,201); border-color: rgba(0,0,0,0.15);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	background-color: rgb(237,237,237); background-color: rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.9); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.9); box-shadow: 0 1px 0 rgba(255,255,255,0.9);
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
}
.account.new {
	width: auto; cursor: pointer;
}
.account.highlight {
	border: 1px solid rgb(74,125,153);
	background-color: rgb(153,218,255);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3); box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
.account.highlight.new {
	border-color: rgb(174,174,174); border-color: rgba(0,0,0,0.2); background-color: rgb(218,218,218); background-color: rgba(0,0,0,0.125);
}
#new_account_form {
	width: 180px;
}
.account_name { white-space: nowrap; }
input.account_name { width: 95%; }
.account.new .account_name { line-height: 43px; }
.account.new input.account_name { line-height: 1.5; }
.account.new .account_name img { vertical-align: -12%; margin-right: 0.5em; }
.account_id { font-size: 0.8em; white-space: nowrap; color: rgb(128,128,128); color: rgba(0,0,0,0.5); }
.account_buttons { margin: 0.5em 0 0.25em; text-align: right; }
.account_buttons img {
	margin: 0 0.5em 0 1em;
	vertical-align: -5%;
}
.account .error_area { font-size: 0.8em; }

.carenet .account {
	float: none; display: block; min-height: 0; margin: 0; cursor: move;
	-webkit-transition-property: margin, padding, border-radius;
	-moz-transition-property: margin, padding, border-radius;
	-o-transition-property: margin, padding, border-radius;
	transition-property: margin, padding, border-radius;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
.carenet_content_scroller .account {
	width: auto; padding: 0 8px;
	border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	border-bottom: 1px solid rgb(204,204,204); border-color: rgba(0,0,0,0.2);
	background-color: transparent;
}
.carenet_content_scroller .account:hover {
	background-color: rgb(212,212,212); background-color: rgba(0,0,0,0.1);
}
.carenet_content_scroller .account.highlight {
	z-index: 2; background-color: white;
	border-bottom-color: white;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3); box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.account_being_dragged {
	opacity: 0.5;
}
.account_dragged {
	min-width: 185px; z-index: 5;
	color: black; text-shadow: 0 0 2px white;
	border-color: transparent;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	background-color: rgb(153,153,153); background-color: rgba(0,0,0,0.3);
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
.account_dragged .error_area { display: none; }
.carenet .account_dragged {
	border-color: transparent;
}


/*** apps ***/
#apps {
	position: relative; margin: 1em 0 32px;
}
.app {
	float: left; position: relative; z-index: 2; cursor: move;
	min-width: 100px; min-height: 45px; margin: 10px 10px 0 0; padding: 50px 0 10px;
	font-size: 0.8em; text-align: center;
	border: 1px solid transparent;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	background: url() 34px 10px no-repeat; background-size: 32px;
	-webkit-transition-property: min-height, border-radius, margin, padding, opacity;
	-moz-transition-property: min-height, border-radius, margin, padding, opacity;
	-o-transition-property: min-height, border-radius, margin, padding, opacity;
	transition-property: min-height, border-radius, margin, padding, opacity;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
}
.app_info_shown {
	border-color: rgb(204,204,204); border-color: rgba(0,0,0,0.1);
	background-color: rgb(224,224,224); background-color: rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.9); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.9); box-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
.app.disabled, .app.autonomous { cursor: default; }
.app.disabled:hover { background-color: rgba(0,0,0,0.05); }
.app .app_name { white-space: nowrap; margin: 0 0.5em; }
.app.disabled .app_name { opacity: 0.5; }
.app.ui-state-disabled { opacity: 1; }

.app_dragged {
	min-height: 20px; z-index: 5;
	border-color: transparent;
	background-color: rgb(204,204,204); background-color: rgba(0,0,0,0.2);
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
.app_dragged:hover {
	border-color: transparent;
	background-color: rgb(204,204,204); background-color: rgba(0,0,0,0.2);
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
.app.app_dragged {
	-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
}

.carenet_app {
	position: absolute; top: 0; left: 0; width: 40px; height: 40px; cursor: move;
	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
	background: url() center center no-repeat rgb(210,210,210); background-color: rgba(0,0,0,0.15); background-size: 32px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8); box-shadow: 0 1px 0 rgba(255,255,255,0.8);
	-webkit-transition-property: margin, padding, border-radius;
	-moz-transition-property: margin, padding, border-radius;
	-o-transition-property: margin, padding, border-radius;
	transition-property: margin, padding, border-radius;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
}
.carenet_app:hover {
	margin: -2px; padding: 2px;
	-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
}
.carenet_app.app_dragged, .carenet_app:hover.app_dragged {
	margin: -10px; padding: 10px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;
}
.draggable_will_remove, .draggable_will_remove:hover, .carenet .account.draggable_will_remove {
	background-color: rgb(255,50,0); background-color: rgba(255,50,0,0.5);
}
.draggable_will_transfer, .draggable_will_transfer:hover, .carenet .account.draggable_will_transfer {
	background-color: rgb(204,204,204); background-color: rgba(64,128,0,0.5);
}
.app_info {
	display: none; z-index: 3;
	position: absolute; top: -75px; left: -30px; min-width: 140px; min-height: 55px; padding: 6px 10px;
	text-align: left; line-height: 1.4;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: white; background-color: rgba(255,255,255,0.9);
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.5); -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.5); box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
.app_dragged .app_info, .app_dragged:hover .app_info { display: none; }
.app_info b { font-size: 1.2em; white-space: nowrap; }
.app_info span { font-size: 0.8em; }
.app_options {
	display: none; margin-top: 5px;
}
.app:hover .app_options { display: block; }
.app_dragged .app_options, .app_dragged:hover .app_options { display: none; }


/*** carenets ***/
#sharing_carenets {
	position: relative;
}
#app_settings_carenets {
	position: relative;
}
.carenet {
	position: relative; float: left; opacity: 1;
	width: 128px; height: 128px; margin: 32px 40px 40px 32px;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
}
.carenet.square {
	width: 202px; height: 208px; margin: 8px 48px 36px 0;
}

.carenet_remove, .carenet_remove_disabled {
	position: absolute; top: -16px; right: -16px; width: 36px; height: 36px;
	display: none; z-index: 2; cursor: pointer;
	background: url("/jmvc/ui/resources/images/jquery_tools/close.png") center center no-repeat;
}
.carenet:hover .carenet_remove { display: block; }


.carenet_border {
	width: 126px; height: 126px; margin: 0;
	border: 1px solid rgb(204,204,204); border-color: rgba(0,0,0,0.2);
	-webkit-border-radius: 64px; -moz-border-radius: 64px; border-radius: 64px;
	background-color: rgb(220,220,220); background-color: rgba(0,0,0,0.1);
	background: -webkit-gradient(radial, center center, 50, center center, 90, from(rgba(0,0,0,0.01)), to(rgba(0,0,0,0.1)));
	background: -webkit-radial-gradient(circle, rgba(0,0,0,0.01) 50px, rgba(0,0,0,0.15));
	background: -moz-radial-gradient(circle, rgba(0,0,0,0.01) 50px, rgba(0,0,0,0.15));
   	-webkit-transition-property: width, height, margin, border-radius;
	-moz-transition-property: width, height, margin, border-radius;
	-o-transition-property: width, height, margin, border-radius;
	transition-property: width, height, margin, border-radius;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
}
.carenet.square .carenet_border {
	position: relative; width: 200px; height: 206px;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	background: rgb(237,237,237); background-color: rgba(0,0,0,0.05);
}
.carenet:hover .carenet_border, .expanded .carenet_border {
	width: 190px; height: 190px; margin: -32px;
	-moz-border-radius: 96px; -webkit-border-radius: 96px; border-radius: 96px;
}
.carenet.square:hover .carenet_border, .carenet.square.expanded .carenet_border {
	width: 200px; height: 206px; margin: 0;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}
.carenet.new .carenet_border {
	border-style: dashed;		/* drawn solid in Firefox 5 and lower */
}
.carenet.square .carenet_border .spinner_cover {
	top: -1px; left: -1px; right: -1px; bottom: -1px;
	border: 1px solid transparent;
}


.carenet.highlight .carenet_border {
	border-color: rgb(178,178,178); border-color: rgba(0,0,0,0.3);
	background-color: rgb(216,216,216); background-color: rgba(0,0,0,0.15);
	background: -webkit-gradient(radial, center center, 50, center center, 90, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0.2)));
	background: -webkit-radial-gradient(circle, rgba(0,0,0,0.05) 50px, rgba(0,0,0,0.25));
	background: -moz-radial-gradient(circle, rgba(0,0,0,0.05) 50px, rgba(0,0,0,0.25));
}
.carenet.highlight.square .carenet_border {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0.2))) no-repeat;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2)) no-repeat;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2)) no-repeat;
}
.draggable_hovers.round .carenet_border {
	width: 190px; height: 190px; margin: -32px;
	-webkit-border-radius: 96px; -moz-border-radius: 96px; border-radius: 96px;
}
.draggable_hovers.square .carenet_border {
	height: 206px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0.2))) no-repeat;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2)) no-repeat;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2)) no-repeat;
    -webkit-box-shadow: 0 0 16px rgb(58,180,255); -moz-box-shadow: 0 0 16px rgb(58,180,255); box-shadow: 0 0 16px rgb(58,180,255);
}
.carenet.highlight .carenet_border {
    -webkit-box-shadow: 0 0 16px rgb(58,180,255); -moz-box-shadow: 0 0 16px rgb(58,180,255); box-shadow: 0 0 16px rgb(58,180,255);
}

.carenet_inner {
	position: absolute; top: 14px; left: 14px; right: 14px; bottom: 14px;
	color: white;
	-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; border: 1px solid rgb(74,125,153); border-color: rgba(0,0,0,0.4);
	background-color: rgb(153,218,255);
    background:-webkit-gradient(linear, left top, left bottom, from(rgb(108,201,255)), to(rgb(191,233,255))) no-repeat;
    background:-webkit-linear-gradient(top, rgb(108,201,255), rgb(191,233,255)) no-repeat;
    background:-moz-linear-gradient(top, rgb(108,201,255), rgb(191,233,255)) no-repeat;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8); box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.carenet.square .carenet_inner {
	height: 60px; top: 8px; left: 8px; right: 8px;
	-webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
}

.carenet_inner p {
	position: absolute; left: 8px; top: 8px; right: 8px; margin: 0;
	text-align: center; line-height: 1.3; z-index: 1;
}
.carenet_inner a {
	display: table-cell; width: 82px; height: 42px; cursor: pointer;
	text-decoration: none; color: rgb(75,75,75); vertical-align: bottom;
	border: none;
} 
.carenet_inner a:hover {
	text-decoration: underline; color: black;
	border: none;
}
.carenet.square .carenet_inner a {
	display: block; width: 100%; height: auto;
}
.carenet_inner b {
	display: block;
	text-align: center; font-size: 1.4em; color: rgb(100,100,100);
}
.carenet_inner form {
	margin-top: 22px;
}
.carenet.square .carenet_inner form {
	margin-top: 0;
}
.carenet_inner input {
	display: block; width: 105%; margin: 0 -5%; font-size: 0.9em;
}
.carenet_inner button {
	margin-top: 0.3em;
}

.carenet_content {
	display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0;
	overflow: show;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s;
}
.carenet.square .carenet_content {
	opacity: 1;
	top: 72px; left: 7px; right: 7px; bottom: 7px;
}
.carenet:hover .carenet_content, .draggable_hovers .carenet_content, .expanded .carenet_content {
	display: block; opacity: 1;
	-webkit-transition-delay: 0.1s; -o-transition-delay: 0.1s; -moz-transition-delay: 0.1s; transition-delay: 0.1s;
}
.carenet.square:hover .carenet_content, .carenet.square.draggable_hovers .carenet_content, .carenet.square.expanded .carenet_content {
	display: block;
}

.carenet_content p {
	line-height: 124px; text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.carenet_content p.hint {
	text-align: center; color: rgb(128,128,128); color: rgba(0,0,0,0.5);
}

.carenet_content_scroller {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	overflow: auto;
}


h4 img { vertical-align: -5%; margin-right: 0.75em; }
.drag_instructions { margin: 3em 2em; text-align: center; }
.drag_instructions img { vertical-align: middle; margin-right: 0.75em; }

.poof {
	position: absolute; top: 0; left: 0; width: 50px; height: 50px; overflow: hidden;
	background: url("/jmvc/ui/resources/images/poof.png") top center no-repeat transparent;
}

.error_area {
	margin-top: 0.5em; color: #800;
}

.spinner_cover {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3;
	background: url("/jmvc/ui/resources/images/spinner-small.gif") center center no-repeat white;
	background-color: rgba(255,255,255,0.75);
	-webkit-border-radius: inherit; -moz-border-radius: inherit; border-radius: inherit;
}


/* Alerts */
#alerts {
	position: fixed;
	top: 5px;
	width: 80%;
	z-index: 1000;
	left: 10%;
}


/***********  Overrides of jquery UI ***********/
/*.ui-helper-reset { line-height: 1.75; }*/
.ui-widget { font-family: inherit; font-size: inherit; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: inherit; font-size: 1em; }

.ui-widget-content { border: none; background: none; color: inherit; -moz-box-shadow: 1px 1px 3px #ccc; -webkit-box-shadow: 1px 1px 3px #ccc; box-shadow: 1px 1px 3px #ccc; }
.ui-widget-content a { color: inherit; }

.ui-widget-header { 
  border: 1px solid #ddd;
/*  background: #cccccc url(../jquery-ui-1.7.2/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; */
  background: none;
  color: inherit;
  font-weight: bold;
  text-transform: uppercase; }
.ui-widget-header a { color: inherit }
.ui-corner-bottom {-moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px; }
.ui-state-active, .ui-widget-content .ui-state-active { background: #fafafa; border: 1px solid #ccc; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { 
  border: 1px solid #999999;
/*  background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;*/
  font-weight: normal;
  color: #212121;
  outline: none;
}
.ui-state-hover a, .ui-state-hover a:hover {
/*  background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;*/
  color: #212121;
  text-decoration: none;
  outline: none;
}

.ui-tabs { padding: 0; zoom: 1; }
/*.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }*/
.ui-tabs .ui-tabs-nav li { background: inherit; border: none; position: relative; float: none; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: none; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: default; }

/*.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


/**
 * 	Styles for undoing resets. Used for displaying html messages
 */

/* Strong and em */
.undoreset strong, .undoreset th { font-weight: bold; }
.undoreset em, .undoreset address, .undoreset caption, .undoreset cite { font-style: italic; }
/* Table */
.undoreset table { display: table; border-spacing: 2px; border-collapse: separate; }
.undoreset tr { display: table-row; vertical-align: inherit; }
.undoreset td { display: table-cell; border-spacing: 2px; padding: 2px; vertical-align: inherit; text-align: inherit; padding: 1px; border-collapse: none; }
.undoreset th { display: table-cell; vertical-align: inherit; font-weight: bold; padding: 1px; border-collapse: none; }
/* Block Items */
.undoreset p { display: block; margin: 1em 0; }
.undoreset blockquote { display: block; margin: 1em 40px; }
.undoreset address { display: block; font-style: italic; }
.undoreset center { display: block; text-align: center; }
/* Headers */
.undoreset h1 { display: block; font-size: 2em; font-weight: bold; margin: .67em 0; }
.undoreset h2 { display: block; font-size: 1.5em; font-weight: bold; margin: .83em 0; }
.undoreset h3 { display: block; font-size: 1.17em; font-weight: bold; margin: 1em 0; }
.undoreset h4 { display: block; font-weight: bold; margin: 1.33em 0; }
.undoreset h5 { display: block; font-size: 0.83em; font-weight: bold; margin: 1.67em 0; }
.undoreset h6 { display: block; font-size: 0.67em; font-weight: bold; margin: 2.33em 0; }
/* Lists */
.undoreset ul { display: block; list-style-type: disc; margin: 1em 0; padding-left: 40px; }
.undoreset ol { display: block; list-style-type: decimal; margin: 1em 0; padding-left: 40px; }
.undoreset li { display: list-item; }
/* Pre */
.undoreset pre, .undoreset code { display: block; font-family: Courier New; white-space: pre; margin: 1em 0; }

