<% _(all_apps).each(function(app, i) { %>
	<div class="app" <%= app %>>
		<% var img_name = app.data.name.toLowerCase().replace(/ +/, '_'); %>
		<img src="/jmvc/ui/resources/images/app_icons_32/<%= img_name %>.png" alt="" /><br />
		<%= app.data.name %>
	</div>
<% }) %>
<div style="clear: left;"> </div>