{% load i18n %}
<h3>{% trans "App Settings for" %} <%= record_info.label %></h3>

<p>{% blocktrans %}
In most cases, an application should be shared with all of
your carenets. You can limit your carenets' access by choosing
which data to share with them. Sometimes, you may want to
restrict an application to only some of your carenets when the
application itself, i.e. "My Pregnancy Manager," reveals
information you want to keep private.
{% endblocktrans %}</p>

<div id="carenets">
<% _(carenets).each(function(carenet, i) { %>
	<div class="carenet" <%= carenet %>>
		<div class="carenet_outer">
			<div class="carenet_inner">
				<p>
					<a class="carenet_name"><%= carenet.name %></a>
					<b><%= carenet.app_ids.length %></b>
				</p>
			</div>
		</div>
	</div>
<% }) %>
</div>

