{% load i18n %}
<h2>{% trans "App Settings for" %} <%= label %></h2>

<p>{% blocktrans %}
In most cases, an application should be shared with all of
your carenets. You can limit your carenets' access by choosing
which data to share with them. Sometimes, you may want to
restrict an application to only some of your carenets when the
application itself, i.e. "My Pregnancy Manager," reveals
information you want to keep private.
{% endblocktrans %}</p>

<div id="apps">
	<h4><img class="loader" src="jmvc/ui/resources/images/spinner-small.gif" />{% trans "Loading apps" %}</h4>
</div>

<p id="carenet_drag_apps" class="drag_instructions" style="display: none;">
	<img src="jmvc/ui/resources/images/arrow-down.png" alt="" />
	{% trans "Drag the apps to the carenets you want them to be accessible from" %}
</p>

<div id="app_settings_carenets" style="display: none;">
	<h4><img class="loader" src="jmvc/ui/resources/images/spinner-small.gif" alt="" />{% trans "Loading carenets" %}</h4>
</div>

