{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>	 
	<!--	Uncomment AND comment out <script> tags in header.html
				to use jmvc3 compression without loging in: "$ ./js steal/buildjs http://localhost -to ui" -->
	<!-- <script compress="true" type="text/javascript" src="/jmvc/steal/steal.js?ui,development"></script> -->

	{% if branding %}
		{% include branding.header_template %}
	{% else %}
		{% include 'ui/header.html' %}
	{% endif %}
	
	<title>{% if branding %}
				{{ branding.pretty_name_prepend }} {{ branding.pretty_name }}
			{% else %}
				{% trans "IndivoHealth" %}
			{% endif %}
			{% trans "Setup" %}</title>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#conf1').bind('keyup', function(ev) {
				if ($(this).val().length >= 3) {
					if (ev && ev.keyCode && (ev.keyCode > 47 && ev.keyCode < 58) || (ev.keyCode > 95 && ev.keyCode < 106)) {
						$('#conf2').select();
					}
				}
			}).select();
		});
	</script>
</head>
<body>
<div id="full_height">
	<div id="main_box">
		
		<!-- Header -->
		<div>
			{% if branding %}
				<img style="height: 150px; margin-bottom: -70px; margin-right: 20px;" src='{{ branding.logo_image_big_src }}' />
			{% endif %}
			<div id="front_site_name">
				{% if branding %}
					{{ branding.pretty_name_prepend }} {{ branding.pretty_name }}
				{% else %}
					{% trans "Indivohealth" %}<span id="front_site_trademark">&trade;</span>
				{% endif %}
			</div>
			{% if ERROR %}
				<div class="login_error">{{ERROR}}</div>
			{% else %}
				<div class="login_message">{% trans "Enter the confirmation code to activate your account" %}<br /><b>{{ ACCOUNT_ID }}</b></div>
			{% endif %}
		</div>
		
		<!-- Confirmation Code Form -->
		<form id="init_form" class="table_form" method="post" action="/accounts/{{ ACCOUNT_ID }}/init/{{ PRIMARY_SECRET }}">
			<div class="row">
				<div class="cell">
					{% trans "Confirmation code:" %}
				</div>
				<div class="cell">
					<input type="text" style="width: 50px;" id="conf1" name="conf1" size="3" maxlength="3" />
					&mdash;
					<input type="text" style="width: 50px;" id="conf2" name="conf2" size="3" maxlength="3" />
					
					<div style="margin-top: 1.5em;">
						<button id="submit" type="submit" name="re_send" value="1" tabindex="3">{% trans "Confirm Account" %}</button>
						<p class="moreinfo">
							<a href="/accounts/{{ ACCOUNT_ID }}/send_secret">{% trans "Lost your confirmation code?" %}</a>
						</p>
					</div>
				</div>
			</div>
		</form>
	</div>
	{% if branding %}
		{% include branding.footer_template %}
	{% else %}
		{% include 'ui/footer.html' %}
	{% endif %}
</div>
</body>
</html>