{% extends "ui/base.html" %}
{% load i18n %}

{% block title_suffix %}{% trans "Records" %}{% endblock %}
{% block welcome %}{% trans "Authorize Records" %}{% endblock %}

{% block main %}
	<!-- Login Form -->
	<form id="login_form" class="list_form" method="post" action="/oauth/authorize">
		<input type="hidden" name="oauth_token" value="{{REQUEST_TOKEN}}" />
		<input type="hidden" name="oauth_callback" value="{{CALLBACK_URL}}" />
		<input type="hidden" name="num_records" value="{{RECORD_LIST|length}}" />
		
		<div>
		{% for id, name in RECORD_LIST %}
		<div class="row">
			<input type="checkbox" id="record_{{forloop.counter0}}" name="record_{{forloop.counter0}}" value="{{id}}" />
			<label for="record_{{forloop.counter0}}">{{name}}</label>
		</div>
		{% empty %}
		<div class="login_message">
			{% trans "This account has no records" %}
		</div>
		{% endfor %}
		</div>
	 	
		<div class="main_action_button">
			{% if RECORD_LIST %}
			<button id="submit" type="submit" name="submit" tabindex="3">{% trans "Authorize" %}</button>
			{% endif %}
			<p class="moreinfo">
				<a href="/login" onclick="history.back(); return false;">{% trans "Back to login" %}</a>
			</p>
		</div>
	</form>
{% endblock %}
