{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>	 
	<!--	Uncomment AND comment out <script> tags in header.html
				to use jmvc3 compression without loging in: "$ ./js steal/buildjs http://localhost -to ui" -->
	<!-- <script compress="true" type="text/javascript" src="/jmvc/steal/steal.js?ui,development"></script> -->

	{% if branding %}
		{% include branding.header_template %}
	{% else %}
		{% include 'ui/header.html' %}
	{% endif %}
	
	<title>
		{% block title_prefix %}{% endblock %}
		{% block title %}
		{% if branding %}
			{{ branding.pretty_name_prepend }} {{ branding.pretty_name }}
		{% else %}
			{% trans "Indivohealth" %}
		{% endif %}
		{% endblock %}
		{% block title_suffix %}{% endblock %}
	</title>
	
	{% block readyscript %}
	{% endblock %}
</head>
<body>
<div id="full_height">
	<div id="main_box">
		
		<!-- Header -->
		<div style="text-align: center;">
			{% if branding %}
				<img class="branding-image" src='{{ branding.logo_image_big_src }}' />
			{% endif %}
			<div id="front_site_name">
				<span class="welcome_prefix">{% block welcome_prefix %}{% endblock %}</span>
				{% block welcome %}
					{% if branding %}
						{{ branding.pretty_name_prepend }} {{ branding.pretty_name }}
					{% else %}
						{% trans "Indivohealth" %}<span id="front_site_trademark">&trade;</span>
					{% endif %}
				{% endblock %}
				{% block welcome_suffix %}{% endblock %}
			</div>
			{% block msg_error %}
			{% if MESSAGE %}
				<div class="login_message">{{ MESSAGE }}</div>
			{% endif %}
			{% if ERROR %}
				<div class="login_error">{{ ERROR }}</div>
			{% endif %}
			{% endblock %}
			{% block hint %}{% endblock %}
		</div>
		
		<!-- Main Form -->
		{% block main %}
		These aren't the droids you're looking for.
		{% endblock %}
	</div>
	
	<!-- Footer -->
	{% block footer %}
	{% if branding %}
		{% include branding.footer_template %}
	{% else %}
		{% include 'ui/footer.html' %}
	{% endif %}
	{% endblock %}
</div>
</body>
</html>
