<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
  {% if branding %}
    {% include branding.header_template %}
  {% else %}
    {% include 'ui/header.html' %}
  {% endif %}
  <title>Password Changed</title>
</head>
  <body>
    <div style="margin: 100px auto; width: 70%;">
      <div style="margin-bottom: 40px;">
        {% if branding %}
          <img style="height: 100px; margin-bottom: -35px; margin-right: 10px;"
               src='{{ branding.logo_image_src }}'/>
        {% endif %}
        <span id="logo">
        {% if branding %}
           {{ branding.pretty_name_prepend }} {{ branding.pretty_name }}</span>
        {% else %}
          Indivohealth</span><span id="trademark">&trade;</span>
        {% endif %}
      </div>
      <div style="text-align: center;">
        <h3>Your password has been changed.</h3>
        <h3><a href="/">[Click here to return]</a></h3>
      </div>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
