<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
  {% if branding %}
    {% include branding.header_template %}
  {% else %}
    {% include 'ui/header.html' %}
  {% endif %}
  <!-- refactor to another header? -->
  <title>Change Password</title>
  <script>
  $(document).ready(function(){
    $('#pw1').val('');
    $('#pw2').val('');
    $('#oldpw').val('').focus();
    
    // check form values
    $('#form').submit(function() {
      if (!$('#oldpw').val() || !$('#pw1').val() || !$('#pw2').val()) {
        alert('Please enter non-empty passwords. Please try again.');
        return false;
      }

      if ($('#pw1').val() != $('#pw2').val()) {
        alert('Your new passwords do not match. Please try again.');
        $('#pw1').val('');
        $('#pw2').val('');
        $('#pw1').focus();
        return false;
      }
      return true;
    });
  })
  </script>
</head>
  <body>
    <div style="text-align: center; margin: 30px auto; width: 70%">
      <div style="margin-bottom: 40px;">
        {% if branding %}
          <img style="height: 100px; margin-bottom: -35px; margin-right: 10px;"
               src='{{ branding.logo_image_src }}'/>
        {% endif %}
        <span id="logo">
        {% if branding %}
           {{ branding.pretty_name_prepend }} {{ branding.pretty_name }}</span>
        {% else %}
          Indivohealth</span><span id="trademark">&trade;</span>
        {% endif %}
      </div>
      
      {% if ERROR %}
        <div style="border: 2px dashed red; padding: 20px; margin: 10px; font-size: 18px">
          {{ERROR}}
        </div>
      {% endif %}
    </div>

    <div style="margin: 100px auto; width: 70%;">
    <form id='form' method='post' action="change_password">
      <div style="width: 40%; float: left; text-align: right; padding-right: 20px">
        <span style="font-size: 24px;">Old Password:</span>
        <br>
        <br>
        <span style="font-size: 22px;">New Password:</span>
        <br>
        <br>
        <span style="font-size: 22px;">Confirm New Password:</span>
      </div>
      <div style="padding-left: 20px;">
        <input type="password" style="font-size: 24px;" id="oldpw" name="oldpw">
        <br>
        <br>
        <input type="password" style="font-size: 24px;" id="pw1" name="pw1">
        <br>
        <br>
        <input type="password" style="font-size: 24px;" id="pw2" name="pw2">
      </div>
      <div style="text-align: center; margin-top: 50px;">
        <input type="hidden" name="account_id" id="account_id" value="{{ACCOUNT_ID}}">
        <input style="font-size: 18px" type="submit" name="conf_submit" value="Set New Password" id="conf_submit">
      </div>
    </form>
      <div style="text-align: center; margin-top: 20px;"><a href="/">[Cancel]</a></div>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
