{% extends "ui/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#old_pw').select();
			
			// live feedback
			$('#pw1').bind('keyup', function(ev) {
				checkPwLength();
			});
			$('#pw2').bind('keyup', function(ev) {
				checkPwMatch();
			});
			
			$('#cancel').click(function(el, ev){
				// return to main page when canceling password change
				window.location.href = "/";
				return false;
			});
			
			// check form values
			$('#change_form').submit(function() {
				$('#old_pw').removeClass('error');
				$('#pw1').removeClass('error');
				$('#pw2').removeClass('error');
				
				if ($('#old_pw').val().length < 1) {
					$('#old_pw').addClass('error').focus();
					return false;
				}
				
				if (!checkPwLength()) {
					$('#pw1').addClass('error').focus();
					return false;
				}
				
				if (!checkPwMatch()) {
					$('#pw2').addClass('error').select();
					return false;
				}
				return true;
			});
		});
		
		function checkPwLength() {
			var password = $('#pw1').val();
			var hint = $('#password_length');
			if (password.length >= {{ SETTINGS.REGISTRATION.min_password_length|default:"8" }}) {
				hint.removeClass('red').removeClass('faded').addClass('green');
				return true;
			}
			else if (password.length > 0) {
				hint.removeClass('green').removeClass('faded').addClass('red');
			}
			else {
				hint.removeClass('red').removeClass('green').addClass('faded');
			}
			return false;
		}
		
		function checkPwMatch() {
			var p1 = $('#pw1').val();
			var p2 = $('#pw2').val();
			var hint = $('#password_match');
			if (p1 == p2) {
				hint.removeClass('red').removeClass('faded').addClass('green');
				return true;
			}
			else if (p2.length > 0) {
				hint.removeClass('green').removeClass('faded').addClass('red');
			}
			else {
				hint.removeClass('red').removeClass('green').addClass('faded');
			}
			return false;
		}
	</script>
{% endblock %}

{% block welcome_suffix %}{% endblock %}

{% block hint %}
	{% if not ERROR and not MESSAGE %}
		<div class="login_message">{% trans "Choose a new password" %}<br /><b>{{ ACCOUNT_ID }}</b></div>
	{% endif %}
{% endblock %}

{% block main %}
	<!-- Main Form -->
	<form id="change_form" class="table_form" method="post" action="/change_password">{% csrf_token %}
		<input type="hidden" name="account_id" value="{{ ACCOUNT_ID }}" />
		<div class="row">
			<div class="cell">{% trans "Old Password:" %}</div>
			<div class="cell">
				<input type="password" id="old_pw" name="old_pw" />
			</div>
		</div>
		
		<div class="row">
			<div class="cell">{% trans "New Password:" %}</div>
			<div class="cell">
				<input type="password" id="pw1" name="pw1" />
				<p id="password_length" class="moreinfo faded">{{ SETTINGS.REGISTRATION.min_password_length|default:"8" }} {% trans "characters or more" %}</p>
			</div>
		</div>
		<div class="row">
			<div class="cell">{% trans "Confirm Password:" %}</div>
			<div class="cell">
				<input type="password" id="pw2" name="pw2" />
				<p id="password_match" class="moreinfo faded">{% trans "Passwords must match" %}</p>
				
				<div class="main_action_button">
					<button id="conf_submit" type="submit" name="conf_submit">{% trans "Set New Password" %}</button>
					<button id="cancel" >{% trans "Cancel" %}</button>
					<p class="moreinfo">
						<a href="/login">{% trans "Go to login" %}</a>
					</p>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
