{% load i18n %}
<div id="footer">
	<a href="http://chip.org/laboratories/ihl/">
		<img style="opacity: .85" src='/jmvc/ui/resources/images/badges/ihl-badge.png'/>
		<span>{% trans "Intelligent Health Lab" %}</span>
	</a>
	<b>|</b>
	<a href="http://chip.org">
		<img src='/jmvc/ui/resources/images/badges/chip-badge.png'/>
		<span>{% trans "Children&rsquo;s Hospital Informatics Program" %}</span>
	</a>
	<b>|</b>
	<a href="http://hms.harvard.edu">
		<img src='/jmvc/ui/resources/images/badges/hms-alt.png'/>
		<span>{% trans "Harvard Medical School" %}</span>
	</a>
	<div id="copyright">
		&copy; 2012
	</div>
</div>

