<div id="footer">
  <a href="http://chip.org/ihl">
    <img style="opacity: .85" src='/jmvc/ui/resources/images/badges/ihl-badge.png'/>
    Intelligent Health Lab
  </a>
  &nbsp;
  &nbsp;
  &nbsp;
  <span style="color:#ccc">|</span>
  &nbsp;
  &nbsp;
  <a href="http://chip.org">
    <img style="height: 32px; width: 32px; margin-bottom: -12px;" src='/jmvc/ui/resources/images/badges/chip-badge.png'/>
    Children&rsquo;s Hospital Informatics Program
  </a>
  &nbsp;
  &nbsp;
  <span style="color:#ccc">|</span>
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="http://hms.harvard.edu">
    <img style="height: 28px; width: 26px; margin-right: 5px; margin-bottom: -10px;" src='/jmvc/ui/resources/images/badges/hms-alt.png'/>
    Harvard Medical School
  </a>
  <div id="copyright">
    &copy; 2010
  </div>
</div>

