{% load i18n %}
<div id="footer">
  <a href="http://www.childrenshospital.org/" target="_blank">
    <img style="height: 36px; width: 28px; opacity: .85; margin-bottom: -12px" src='/jmvc/ui/resources/images/badges/chb.png'/>
    {% trans "Children&rsquo;s Hospital Boston" %}
  </a>
  &nbsp;
  &nbsp;
  &nbsp;
  <span style="color: #ccc">|</span>
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="http://hms.harvard.edu" target="_blank">
    <img style="height: 30px; width: 26px; margin-right: 5px; margin-bottom: -10px;" src='/jmvc/ui/resources/images/badges/hms-alt.png'/>
    {% trans "Harvard Medical School" %}
  </a>
  
  <div style="margin-top: 10px; color: #999; font-size: .9em;">
    {% blocktrans %}Contact us at <a href="mailto:Support@genepartnership.org" style="color: #999">Support@genepartnership.org</a> {% endblocktrans %}
  </div>

  <div id="copyright">
    <a href="http://indivohealth.org" target="_blank" style="color: #999;">{% trans "Powered by the INDIVO Personally Controlled Health Record" %}</a>
    <br/>
    &copy; 2010
  </div>
</div>

