{% extends "ui/base.html" %}
{% load i18n %}

{% block title %}{% trans "Forgot Password" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#account_id').select();
			
			$('#reset_form').submit(function() {
				$('#account_id').removeClass('error');
				
				var filter = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
				if (!filter.test($('#account_id').val())) {
					$('#account_id').addClass('error').select();
					return false;
				}
				return true;
			});
		});
	</script>
{% endblock %}

{% block welcome %}{% trans "Forgot Password" %}{% endblock %}

{% block msg_error %}
	{% if ERROR %}
		<div class="login_error">
			{{ ERROR }}
			{% if UNINITIALIZED %}
			<p class="moreinfo">
				<a href="/accounts/{{ ACCOUNT_ID }}/send_secret">{% trans "You can try to initialize your account here" %}</a>
			</p>
			{% endif %}
		</div>
	{% endif %}
	{% if EMAIL_SENT %}
		{% if SECONDARY_SECRET %}
			<div class="login_message" style="text-align:left;">
				{% trans "1. Check your email and click the reset link provided" %}<br />
				{% trans "2. Enter the following confirmation code:" %}
			</div>
		{% else %}
			<div class="login_message">{% trans "Check your email and click the reset link provided" %}</div>
		{% endif %}
	{% endif %}
	{% if not EMAIL_SENT and not ERROR %}
		<div class="login_hint">{% trans "To reset your password, enter your account ID below:" %}</div>
	{% endif %}
{% endblock %}

{% block main %}
	<!-- Instructions after sending -->
	{% if SECONDARY_SECRET %}
	<div style="margin-top: 1em; font-size: 3em; text-align: center;">
		{{ SECONDARY_SECRET|make_list|slice:":3"|join:"" }} – {{ SECONDARY_SECRET|make_list|slice:"3:"|join:"" }}
	</div>
	{% endif %}
	
	<!-- Reset Form -->
	{% if EMAIL_SENT %}
	<div class="centered_text">
		<a href="/login">{% trans "Back to login" %}</a>
	</div>
	{% else %}
	<form id="reset_form" class="table_form" method="post" action="/forgot_password">
		<div class="row">
			<div class="cell">{% trans "Account ID:" %}</div>
			<div class="cell">
				<input type="text" id="account_id" name="account_id" tabindex="1" value="{{ ACCOUNT_ID }}" />
				<p class="moreinfo">{% trans "Password reset instructions will be sent to your contact email" %}</p>
				
				<div class="main_action_button">
					<button id="submit" type="submit" name="submit" tabindex="2">{% trans "Send Instructions" %}</button>
					<p class="moreinfo">
						<a href="/login">{% trans "Back to login" %}</a>
					</p>
				</div>
			</div>
		</div>
	</form>
	{% endif %}
{% endblock %}
