<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
  {% if branding %}
    {% include branding.header_template %}
  {% else %}
    {% include 'ui/header.html' %}
  {% endif %}
  <title>Forgot Password</title>
  <script>
    $(document).ready(function(){
      $('#email').val('').focus();

      $('#form').submit(function() {
        var filter = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
        if (!filter.test($('#email').val())) {
          alert('Please provide a valid email address. Please try again.');
          $('#email').focus();
          return false;
        }

        return true;
      });
    })
  </script>
</head>
  <body>
    <div style="text-align: center; margin: 100px auto; width: 70%;">
      <div style="margin-bottom: 30px;">
        {% if branding %}
          <img style="height: 100px; margin-bottom: -35px; margin-right: 10px;"
               src='{{ branding.logo_image_src }}'/>
        {% endif %}
        <span id="logo">
        {% if branding %}
           {{ branding.pretty_name_prepend }} {{ branding.pretty_name }}</span>
        {% else %}
          Indivohealth</span><span id="trademark">&trade;</span>
        {% endif %}
      </div>
      
      {% if ERROR %}
        <div style="border: 2px dashed red; padding: 20px; margin: 10px; font-size: 18px">
          {{ERROR}}
        </div>
      {% endif %}
      <h3>To reset your password, enter your email address below:</h3>
      <form style="padding-top: 50px; text-align: center;" id='form' method='post' action="forgot_password">
        <input type="text" style="font-size: 24px;" id="email" name="email">
        <div style="text-align: center; margin-top: 50px;">
          <input style="font-size: 18px" type="submit" name="conf_submit" value="Send a password reset link by email" id="conf_submit">
        </div>
      </form>
      <div style="text-align: center; margin-top: 20px;"><a href="/">[Cancel]</a></div>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
