<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
  {% if branding %}
    {% include branding.header_template %}
  {% else %}
    {% include 'ui/header.html' %}
  {% endif %}
  <title>Forgot Password</title>
</head>
  <body>

    <div style="text-align: center; margin: 30px auto; width: 70%">
      <div style="margin-bottom: 40px;">
        {% if branding %}
          <img style="height: 100px; margin-bottom: -35px; margin-right: 10px;"
               src='{{ branding.logo_image_src }}'/>
        {% endif %}
        <span id="logo">
        {% if branding %}
           {{ branding.pretty_name_prepend }} {{ branding.pretty_name }}</span>
        {% else %}
          Indivohealth</span><span id="trademark">&trade;</span>
        {% endif %}
      </div>
      
      {% if ERROR %}
        <div style="border: 2px dashed red; padding: 20px; margin: 10px; font-size: 18px">
          {{ERROR}}
        </div>
      {% endif %}
    </div>

    <div style="margin: 100px auto; width: 70%;">
      <h3>Resetting your password requires two steps:</h3>
      <h4>1. Check your email and click on the reset link provided</h4>
      <h4>2. Enter this confirmation code:</h4>
      <div style="margin: 50px auto; text-align: center; font-size: 3em;">
        {{SECONDARY_SECRET_1}}&ndash;{{SECONDARY_SECRET_2}}
      </div>
      <h4>If you are unable to reset your password, please contact support.</h4>
      <div style="text-align: center; margin-top: 20px;"><a href="/">[Return to Login]</a></div>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
