{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>  
    {% include 'ui/header.html' %}
    <title>{% trans "Forgot Password" %}</title>
    
    <script>$(document).ready(function(){$('#conf1').focus();})</script>
  </head>
  <body>
    <div style="margin: 100px auto; width: 50%; text-align: center">
    <form id='form' method='post'>
      <div style="margin-bottom: 40px;">
        {% if branding %}
          <img style="height: 100px; margin-bottom: -35px; margin-right: 10px;"
               src='{{ branding.logo_image_src }}'/>
        {% endif %}
        <span id="logo">
        {% if branding %}
           {{ branding.pretty_name_prepend }} {{ branding.pretty_name }}</span>
        {% else %}
          {% trans "Indivohealth" %}</span><span id="trademark">&trade;</span>
        {% endif %}
      </div>
      
      {% if ERROR %}
        <div style="border: 3px dashed red; padding: 20px; margin: 10px; font-size: 18px">
          {{ERROR}}
        </div>
      {% endif %}

      <h2>
        {% trans "Password Reset" %}
      </h2>
      
      <h3>{% trans "Please enter your reset code:" %}</h3>
      <br>
      <br>
      <div style="font-size: 24px; font-family: 'Andale Mono', 'Courier', courier, monospace;">
      <input style="font-size: 24px; width: 50px;" type="text" id="conf1" name="conf1" size="3" maxlength="3">
      &mdash;
      <input type="text" style="font-size: 24px; width: 50px;" id="conf2" name="conf2" size="3" maxlength="3">
      </div>
      <br>
      <br>
      <br>
      <input style="font-size: 18px" type="submit" name="conf_submit" value="{% trans "Submit Reset Code" %}" id="conf_submit">
    </form>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
