<link rel="stylesheet" media="screen" href="/jmvc/ui/resources/css/ui.css" />
<link rel="stylesheet" media="screen and (min-width: 751px)" href="/jmvc/ui/resources/css/login.css" />
<link rel="stylesheet" media="only screen and (max-width: 750px)" href="/jmvc/ui/resources/css/login-mobile.css" />
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" media="all" href="/jmvc/ui/resources/css/login.css"/>
<![endif]-->

<script type="text/javascript" src="/jmvc/jquery/jquery.js"></script>
<script type="text/javascript" src="/jmvc/ui/resources/js/underscore-min.js" ></script>
