{% extends "ui/base.html" %}
{% load i18n %}

{% block title_suffix %}{% trans "Login" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#username').focus();
			$('#login_form').submit(function() {
				$('#username').removeClass('error');
				$('#password').removeClass('error');
				if (!$('#username').val()) {
					$('#username').addClass('error').focus();
					return false;
				}
				if (!$('#password').val()){
					$('#password').addClass('error').focus();
					return false;
				}
				return true;
			});
		});
	</script>
{% endblock %}

{% block welcome_prefix %}{% trans "Welcome to" %}{% endblock %}

{% block main %}
	<!-- Login Form -->
	<form id="login_form" class="table_form" method="post" action="/login">{% csrf_token %}
		<input type="hidden" name="return_url" value="{{RETURN_URL}}" />
		<div class="row">
			<div class="cell">{% trans "Username:" %}</div>
			<div class="cell">
				<input type="text" id="username" name="username" tabindex="1"/>
			</div>
		</div>
		<div class="row">
			<div class="cell">{% trans "Password:" %}</div>
			<div class="cell">
				<input type="password" id="password" name="password" tabindex="2" /><br />
				<p class="moreinfo">
					<a class="login_action_link" href="/forgot_password">{% trans "Forgot your password?" %}</a>
				</p>
				
				<div class="main_action_button">
					<button id="submit" type="submit" name="submit" tabindex="3">{% trans "Login" %}</button>
					{% if SETTINGS.REGISTRATION.enable %}
					<p class="moreinfo">
						<a href="/register">{% trans "No account? Register here" %}</a>
					<p>
					{% endif %}
				</div>
			</div>
		</div>
	</form>
{% endblock %}
