{% extends "ui/base.html" %}
{% load i18n %}

{% block title_suffix %}{% trans "Registration" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#full_name').focus();
			$('#signup_form').submit(function() {
				$('#full_name').removeClass('error');
				$('#account_id').removeClass('error');
				if (!$('#full_name').val()) {
					$('#full_name').addClass('error').focus();
					return false;
				}
				var filter = /^\S+@\S+$/;
				if (!filter.test($('#account_id').val())) {
					$('#account_id').addClass('error').focus();
					return false;
				}
				return true;
			});
		});
	</script>
{% endblock %}

{% block welcome_prefix %}{% trans "Register for" %}{% endblock %}

{% block main %}
	<!-- Registration Form -->
	{% if SECONDARY %}
	<div style="margin-top: 1em; font-size: 3em; text-align: center;">
		{{ SECONDARY|make_list|slice:":3"|join:"" }} – {{ SECONDARY|make_list|slice:"3:"|join:"" }}
	</div>
	<p class="moreinfo" style="margin-top: 2em; text-align: center;">
		<a href="/accounts/{{ ACCOUNT_ID }}/send_secret">{% trans "Received no activation email?" %}</a>
	</p>
	{% else %}{% if SETTINGS.REGISTRATION.enable %}
	<form id="signup_form" class="table_form" method="post" action="/register">{% csrf_token %}
		<div class="row">
			<div class="cell">{% trans "Your Name:" %}</div>
			<div class="cell">
				<input type="text" id="full_name" name="full_name" tabindex="1" />
			</div>
		</div>
		<div class="row">
			<div class="cell">{% trans "Account Email:" %}</div>
			<div class="cell">
				<input type="text" id="account_id" name="account_id" tabindex="2" onkeyup="$('#contact_email').attr('placeholder', this.value)" />
				{% if SETTINGS.REGISTRATION.set_primary_secret %}
				<p class="moreinfo">{% trans "A confirmation code will be sent here" %}</p>
				{% endif %}
				
				<div class="main_action_button">
					<button id="submit" type="submit" name="submit" tabindex="3">{% trans "Register" %}</button>
					<p class="moreinfo">
						<a href="/login">{% trans "Back to login" %}</a>
					</p>
				</div>
			</div>
		</div>
	</form>
	{% else %}
	<div class="login_error">{% trans "Online registration is not available" %}</div>
	<p class="moreinfo">
		<a href="/login">{% trans "Back to login" %}</a>
	</p>
	{% endif %}
	{% endif %}
{% endblock %}
