{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>	 
	<!--	Uncomment AND comment out <script> tags in header.html
				to use jmvc3 compression without loging in: "$ ./js steal/buildjs http://localhost -to ui" -->
	<!-- <script compress="true" type="text/javascript" src="/jmvc/steal/steal.js?ui,development"></script> -->

	{% if branding %}
		{% include branding.header_template %}
	{% else %}
		{% include 'ui/header.html' %}
	{% endif %}
	
	<title>{% trans "IndivoHealth" %}</title>
</head>
<body>
<div id="full_height">
	<div id="main_box">
		
		<!-- Header -->
		<div style="text-align: center;">
			{% if branding %}
				<img style="height: 150px; margin-bottom: -70px; margin-right: 20px;" src='{{ branding.logo_image_big_src }}' />
			{% endif %}
			<span id="front_site_name">
				{% if branding %}
					{{ branding.pretty_name_prepend }} {{ branding.pretty_name }}
				{% else %}
					{% trans "Indivohealth" %}<span id="front_site_trademark">&trade;</span>
				{% endif %}
			</span>
			{% if MESSAGE %}
				<div class="login_message">{{MESSAGE}}</div>
			{% endif %}
			{% if ERROR %}
				<div class="login_error">{{ERROR}}</div>
			{% endif %}
		</div>
		
		<!-- Registration Form -->
		<form id="resend_form" class="table_form" method="post" action="/resend_secret">
			<div class="row">
				<div class="cell">{% trans "Account Email:" %}</div>
				<div class="cell">
					<input type="text" id="account_id" name="account_id" tabindex="1" value="{{ ACCOUNT_ID }}" />
					
					<div style="margin-top: 1.5em;">
						<button id="submit" type="submit" name="submit" tabindex="3">  {% trans "Resend Activation" %}  </button>
						<p class="moreinfo">
							<a href="/login">{% trans "Back to login" %}</a>
						</p>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<!-- Footer -->
	{% if branding %}
		{% include branding.footer_template %}
	{% else %}
		{% include 'ui/footer.html' %}
	{% endif %}
</div>
</body>
</html>
