{% extends "ui/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#conf1').bind('keyup', function(ev) {
				if ($(this).val().length >= 3) {
					if (ev && ev.keyCode && (ev.keyCode > 47 && ev.keyCode < 58) || (ev.keyCode > 95 && ev.keyCode < 106)) {
						$('#conf2').select();
					}
				}
			});
			if ($('#conf1').is('*')) {
				$('#conf1').select();
			}
			else {
				$('#pw1').select();
			}
			
			// live feedback
			$('#pw1').bind('keyup', function(ev) {
				checkPwLength();
			});
			$('#pw2').bind('keyup', function(ev) {
				checkPwMatch();
			});
			
			// check form values
			$('#reset_form').submit(function() {
				$('#pw1').removeClass('error');
				$('#pw2').removeClass('error');
				
				if (!checkPwLength()) {
					$('#pw1').addClass('error').focus();
					return false;
				}
				
				if (!checkPwMatch()) {
					$('#pw2').addClass('error').select();
					return false;
				}
				return true;
			});
		});
		
		function checkPwLength() {
			var password = $('#pw1').val();
			var hint = $('#password_length');
			if (password.length >= {{ SETTINGS.REGISTRATION.min_password_length|default:"8" }}) {
				hint.removeClass('red').removeClass('faded').addClass('green');
				return true;
			}
			else if (password.length > 0) {
				hint.removeClass('green').removeClass('faded').addClass('red');
			}
			else {
				hint.removeClass('red').removeClass('green').addClass('faded');
			}
			return false;
		}
		
		function checkPwMatch() {
			var p1 = $('#pw1').val();
			var p2 = $('#pw2').val();
			var hint = $('#password_match');
			if (p1 == p2) {
				hint.removeClass('red').removeClass('faded').addClass('green');
				return true;
			}
			else if (p2.length > 0) {
				hint.removeClass('green').removeClass('faded').addClass('red');
			}
			else {
				hint.removeClass('red').removeClass('green').addClass('faded');
			}
			return false;
		}
	</script>
{% endblock %}

{% block msg_error %}
	{% if ERROR %}
		<div class="login_error">{{ ERROR }}</b></div>
	{% else %}
		<div class="login_hint">{% trans "Password Reset" %}<br /><b>{{ ACCOUNT_ID }}</b></div>
	{% endif %}
{% endblock %}

{% block main %}
	<!-- Password Reset Form -->
	<form id="reset_form" class="table_form" method="post" action="/accounts/{{ ACCOUNT_ID }}/reset_password/{{ PRIMARY_SECRET }}">{% csrf_token %}
		{% if SETTINGS.PASSWORD_RESET_REQUIRE_SECONDARY %}
		<div class="row">
			<div class="cell">
				{% trans "Confirmation code:" %}
			</div>
			<div class="cell">
				<input type="text" style="width: 50px;" id="conf1" name="conf1" maxlength="3" tabindex="1" value="{{ SECONDARY_SECRET|make_list|slice:":3"|join:"" }}" />
				&mdash;
				<input type="text" style="width: 50px;" id="conf2" name="conf2" maxlength="3" tabindex="2" value="{{ SECONDARY_SECRET|make_list|slice:"3:"|join:"" }}" />
				<p class="moreinfo">
					<a href="/accounts/{{ ACCOUNT_ID }}/send_secret">{% trans "Lost your confirmation code?" %}</a>
				</p>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="cell">{% trans "New Password:" %}</div>
			<div class="cell">
				<input type="password" id="pw1" name="pw1" tabindex="3" />
				<p id="password_length" class="moreinfo faded">{{ SETTINGS.REGISTRATION.min_password_length|default:"8" }} {% trans "characters or more" %}</p>
			</div>
		</div>
		<div class="row">
			<div class="cell">{% trans "Confirm Password:" %}</div>
			<div class="cell">
				<input type="password" id="pw2" name="pw2" tabindex="4" />
				<p id="password_match" class="moreinfo faded">{% trans "Passwords must match" %}</p>
				
				<div class="main_action_button">
					<button id="conf_submit" type="submit" name="conf_submit" tabindex="5">{% trans "Set Password" %}</button>
					<p class="moreinfo">
						<a href="/login">{% trans "Go to login" %}</a>
					</p>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
