{% extends "ui/base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#account_id').select();
			$('#resend_form').submit(function() {
				$('#account_id').removeClass('error');
				if (!$('#account_id').val()) {
					$('#account_id').addClass('error').focus();
					return false;
				}
				return true;
			});
		});
	</script>
{% endblock %}

{% block main %}
	{% if not MESSAGE %}
	<div class="login_message">
		{% trans "Account Activation" %}
	</div>
	{% endif %}
	{% if SECONDARY %}
	<div style="margin-top: 1em; font-size: 3em; text-align: center;">
		{{ SECONDARY|make_list|slice:":3"|join:"" }} – {{ SECONDARY|make_list|slice:"3:"|join:"" }}
	</div>
	{% endif %}
	
	<!-- Send Secret Form -->
	<form id="resend_form" class="table_form" method="post" action="/accounts/send_secret">{% csrf_token %}
		<div class="row">
			<div class="cell">{% trans "Account Email:" %}</div>
			<div class="cell">
				<input type="text" id="account_id" name="account_id" tabindex="1" value="{{ ACCOUNT_ID }}" />
				<p class="moreinfo">{% trans "A confirmation code will be sent here" %}</p>
				
				<div class="main_action_button">
					<button id="submit" type="submit" name="re_send" value="1" tabindex="3">{% trans "Resend Activation" %}</button>
					<p class="moreinfo">
						<a href="/login">{% trans "Go to login" %}</a>
					</p>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
