<div class="alert-message <%= alert.attr("level") %> fade in" data-alert="alert">
  <a class="close" href="#" data-alert-id="<%= alert.id %>">×</a>
  <p><strong><%= alert.attr("text") %></strong></p>
</div>