{% load i18n %}
<div class="carenet square new" <%= null %>>
	<div class="carenet_remove_disabled"></div>
	<div class="carenet_border">
		<div class="carenet_content">
			<div class="carenet_content_scroller"></div>
			<p class="hint">{% trans "Drop an account" %}</p>
		</div>
	</div>
	<div class="carenet_inner">
		<p>
			<a class="carenet_name">{% trans "New carenet" %}</a>
			<b class="carenet_num_items"></b>
		</p>
	</div>
</div>